# .NET
bin/
obj/
*.user
*.suo
.vs/
*.DotSettings.user
publish/

# Rust
target/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Build outputs
*.dll
*.exe
*.pdb

# Logs
*.log

# Memory dumps and test files
*.dmp
procdump*.exe
procdump.zip
Eula.txt

# Local dev
.env
